.headerButtons {
  span {
    margin: 6px;
    padding: 4px 4px;
    cursor: pointer;
    &:first-child {
      margin-left: 0px;
    }
    &:hover {
      transform: scale(1.1);
    }
  }

  .scaleIcon {
    border: 2px solid;
    padding: 6px;
    align-self: center;
    height: 1px;
  }
}
.vscTopMenu {
  span {
    padding: 6px;
    cursor: not-allowed;
  }
  img {
    width: 20px;
  }
}
