.gameContainer {
  bottom: 50px;
  right: 0px;
  box-shadow: 0px 0px 20px black;

  .mineCell {
    margin: 2px;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    img {
      width: 1.2em;
      height: 1.2em;
    }
  }
  .gameExit {
    span {
      margin: 6px;
      padding: 4px 4px;
      cursor: pointer;
      &:first-child {
        margin-left: 0px;
      }
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  .gameInfo {
    position: absolute;
    background-color: gray;
    border-radius: 4px;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px black;
  }
  .gameRestartButton {
    text-align: center;
    border-radius: 4px;
    padding: 10px 0px;
    margin-top: 10px;
    border: 1px solid;
    cursor: pointer;
    &:hover {
      background-color: white;
      color: gray;
    }
  }
}
